[Unit]
Description=Terrad Daemon
After=network.target

[Service]
Type=simple
User=chaiya
ExecStart=/home/chaiya/go/bin/terrad start --home /home/chaiya/.terra --log_level error
WorkingDirectory=/home/chaiya/.terra
Restart=always
RestartSec=1s
SyslogIdentifier=terrad

[Install]
WantedBy=multi-user.target

[Service]
LimitNOFILE=65535
