[Unit]
Description=Tmkms Daemon
After=network.target

[Service]
Type=simple
User=chaiya
ExecStart=/home/chaiya/.cargo/bin/tmkms start -c /home/chaiya/tmkms/config/tmkms.toml
WorkingDirectory=/home/chaiya/tmkms
Restart=always
RestartSec=1s
SyslogIdentifier=tmkms

[Install]
WantedBy=multi-user.target

[Service]
LimitNOFILE=65535
